/* 
 * Style de la page
 */

/* Pour le menu glissant, les liens sont en blanc */
#lg-menu>li>a {
    color: white;
}

/* empeche la selection dans le body? */
body {
    -webkit-user-select: none;
}

/* Servira probablement plus tard quand Safari mobile l'aura implemente au detriment des meta */
@viewport {
    width: device-width; /* largeur du viewport */
    zoom: 1; /* zoom initial à 1.0 (et clin d'oeil aux fans d'IE6/7) */
}

/*** Concerne les barres de navigation ***/
/** Du haut **/
.navbar-collapse {
    padding-top: 7px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
/* Limite la taille des entêtes des dropdown */
.navbar-inverse .nav > li > a{
    width:200px;
    height:33px;
    white-space: nowrap;
    overflow: hidden;
}   

/* Affichage du user courant */
#userName{
    background-color: #333;
}

/* Form de loggin */
#loginForm{
    padding-top: 0px;
    margin-top : 0px;
}

/* Input de login */
#LoginUsername {
    padding-top: 0px;
    margin-top: 0px;
}

#LoginPassword {
    padding-top: 0px;
    margin-top: 0px
}
/* Div de Logout */
#logoutDiv {
    color: white;
}

/** du bas **/
.nav>li {
    margin-left: 10px;
}

#container {
    color: white;
}

/*** Fenetre modale d'enregistrement des annotations ***/
.modal-dialog {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: auto;
    color: #000;
}

#modalAnnots, #modalLayers, #modaleRemoveAnnot, #modalAide {
    bottom: auto;
}

#modal-body>#divDialogElements{
    height: 35px;
}

.modal-backdrop.fade.in {
    opacity: 0.01; /* Ne fonctionne pas avec seulement un '0'*/
}

/*** Fenetre modale d'aide ***/
.columns {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
}

#modalAide{
    width: auto;
    right: auto;
    left : 450px;
}

#modalAide>.modal-dialog>.modal-content{
    height : 548px;
}

#modalAide>.modal-dialog>.modal-content>.modal-body{
    max-height : 100%;
}
td > img {
    height : 80px; 
    width : 80px;
}

/*** Div du contenu au milieu ***/
/** La video **/
#divVid{
    padding-top: 50px;
    margin-top: 45px;
    padding-left: 15px;
    margin-left: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/** Le svg **/
#affichAnnot{
	position:absolute; 
	z-index:10; 
	background-color:rgba(255, 255, 255, 0);
}

/** Menu coulissant **/
#sidebar{
    margin-top: 50px;
    margin-left: 10px;
}

/** Container du menu coulissant et de la div de la video **/
.row{
    color: white;
    z-index: 10;
}



#slider{
    z-index:11;
}

#svgTimeline{
    z-index:10; 
    background-color:rgba(255, 0, 255, 0);
}