/* 
 * Style de la page
 */

/* Pour le menu glissant, les liens sont en blanc */
#lg-menu>li>a {
    color: white;
}

/* empeche la selection dans le body? */
body {
    -webkit-user-select: none;
}

/* Servira probablement plus tard quand Safari mobile l'aura implemente au detriment des meta */
@viewport {
    width: device-width; /* largeur du viewport */
    zoom: 1; /* zoom initial à 1.0 (et clin d'oeil aux fans d'IE6/7) */
}

/*** Concerne les barres de navigation ***/
/** Du haut **/
.navbar-collapse {
    padding-top: 7px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

/* Permet de garder la barre en top meme quand le clavier apparait */
#navbartop, #navbarbot{
    position:absolute;
}

/* Limite la taille des entêtes des dropdown */
.navbar-inverse .nav > li > a{
    width:225px;
    height:33px;
    white-space: nowrap;
    overflow: hidden;
}   

/* Form de loggin */
#loginForm{
    padding-top: 0px;
    margin-top : 0px;
}

/* Taille du Button de login */
#loginButton{
    height : 35px; 
    margin-bottom:7px;
}

/* Inputs de login */
#LoginUsername {
    padding-top: 0px;
    margin-top: 0px;
}

#LoginPassword {
    padding-top: 0px;
    margin-top: 0px
}

/* Div de Logout */
#logoutDiv {
    color: white;
}

/** du bas **/
.nav>li {
    margin-left: 10px;
}

#container {
    color: white;
}

#canvasTimeline{
    z-index:0; 
    background-color: rgba(255, 0, 0, 0.2);
}

#timeline>div{
    position:absolute; 
    right:-950px; 
    margin-left: 0px; 
    padding-left: 0px;
}
/*** Fenetre modale d'enregistrement des annotations ***/
.modal-dialog {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: auto;
    color: #000;
}

#modalAnnots, #modalSegm, #modaleRemoveAnnot, #modalAide, #modalNomLayer{
    bottom: auto;
}

#modal-body>#divDialogElements{
    height: 35px;
}

.modal-backdrop.fade.in {
    opacity: 0.01; /* Ne fonctionne pas avec seulement un '0'*/
}

/*** Fenetre modale d'aide ***/
.columns {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
}

#modalAide{
    width: auto;
    right: 50px;
    left : 350px;
    top : 60px;
}

#modalAide>.modal-dialog>.modal-content{
    height : 630px; /* 548px; */
    background-color: black; 
    color : white;
}

#modalAide>.modal-dialog>.modal-content>.modal-body{
    max-height : 100%;
}

/* Gere l'affichage des images des mouvements possibles*/
td > img {
    height : 80px; 
    width : 80px;
}

/* Affichage de l'image de la timeline*/
#timelineIMG{
    height:46px; 
    width:101px; 
    padding-right: 10px;
}

/* Decalage a droite de la liste */
#decalagedroit{
    padding-left: 20px;
}

/*** Fenetre modale des segmantations ***/
input[type="radio"]{
    margin: 4px 10px 5px;
}

/*** Div du contenu au milieu ***/
/** La video **/
#divVid{
    padding-top: 50px;
    margin-top: 45px;
    padding-left: 15px;
    margin-left: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/** Le svg **/
#affichAnnot{
	position:absolute; 
	z-index:10; 
	background-color:rgba(255, 255, 255, 0);
}

/** Container du menu coulissant et de la div de la video **/
.row{
    color: white;
    z-index: 10;
}

#slider{
    z-index:11;
}

#svgTimeline{
    z-index:10; 
    background-color:rgba(255, 0, 255, 0);
}