
/* AJOUTS POUR L'APPLICATION */


/* Pour le menu glissant, les liens sont en blanc */
#lg-menu>li>a {
    color: white;
}

/* empeche la selection dans le body -> Plutot mettre que sur la video ?*/
body {
    -webkit-user-select: none;
}

/* Servira probablement plus tard quand Safari mobile l'aura implemente au detriment des meta */
@viewport {
    width: device-width; /* largeur du viewport */
    zoom: 1; /* zoom initial à 1.0 (et clin d'oeil aux fans d'IE6/7) */
}

/* Concerne les barres de navigation */
/* Du haut */
.navbar-collapse {
    padding-top: 7px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

/* Barre de loggin */
#loginForm{
    padding-top: 0px;
    margin-top : 0px;
}

#LoginUsername {
    padding-top: 0px;
    margin-top: 0px;
}

#logoutDiv {
    color: white;
}
#LoginPassword {
    padding-top: 0px;
    margin-top: 0px
}

/* du bas */
.nav>li {
    margin-left: 10px;
}

.nav>#affichage {
    margin-left: 5px;
    margin-top: 10px
}

nav>#affichage{
    margin-top: 10px;
}

#container {
    color: white;
    padding-left: 330px;
}

/* Fenetre modale d'enregistrement des annotations */
.modal-dialog {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: auto;
    color: #000;
}

#myModal, #modalLayers {
    bottom: auto;
}

#modal-body>#divDialogElements{
    height: 35px;
}

.modal-backdrop.fade.in {
    opacity: 0.01; /* Ne fonctionne pas avec seulement un '0'*/
}

/* Div de la video */
#divVid{
    padding-top: 50px;
    margin-top: 45px;
    padding-left: 15px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}


/* Menu coulissant */
#sidebar{
    margin-top: 30px;
    margin-left: 10px;
}

/* Container du menu coulissant et de la div de la video */
.row{
    color: white;
    z-index: 10;
}

/* Affichage du user courant */
#userName{
    background-color: #333;
}